doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Self Serve Password
  link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
  link(rel='stylesheet' href='/fonts/fontawesome-all.min.css')
  link(rel='stylesheet' href='/fonts/font-awesome.min.css')
  link(rel='stylesheet' href='/fonts/fontawesome5-overrides.min.css')
#wrapper
  nav.navbar.navbar-dark.align-items-start.sidebar.sidebar-dark.accordion.bg-gradient-primary.p-0(style='background-color: rgb(55,169,27);color: rgb(255,255,255);')
    .container-fluid.d-flex.flex-column.p-0
      a.navbar-brand.d-flex.justify-content-center.align-items-center.sidebar-brand.m-0
        .sidebar-brand-icon.rotate-n-15
          i.fa.fa-plug
        .sidebar-brand-text.mx-3
          span JUSTIN Lab
      .table-responsive
        table.table(id='server-table', style='color: rgb(255,255,255);')
          thead
            tr
              th Server
              th Description
          tbody
            //if (status === 'success')
                each server in serverList
                    tr(style='color: rgb(255,255,255);')
                        td=server.name
                        td=server.description
      .text-center.d-none.d-md-inline
  #content-wrapper.d-flex.flex-column
    #content(style='padding: 0px;')
      nav.navbar.navbar-light.navbar-expand.bg-white.shadow.mb-4.topbar.static-top
        .container-fluid
          button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3(type='button')
            i.fas.fa-bars
          form.form-inline.d-none.d-sm-inline-block.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
            .input-group
              .input-group-append
          .dropdown
            if(login === 'success')
              | #{user.displayName}
            else
              | Login
            a.dropdown-toggle(data-toggle='dropdown' aria-expanded='false' href='#') 
            .dropdown-menu(role='menu' style='width: 260px;background-color: rgb(255,255,255);height: 240px;margin: 7px;padding: 16px;')
              if(login === 'success')
                form.form-inline(method='POST', action='/logout')
                  div(style='text-align: center')
                    img(id='profile-pic', style="width:120px;height:120px;border-radius: 50%;", alt='profile')
                    br
                    text(style="font-size:18px") #{user.displayName}
                    br
                    text(style="font-size:18px") #{user.title}
                    br
                    button#login-button.btn.btn-primary(type='submit') 
                      i.fa.fa-sign-in.fa-lg.mr-1(aria-hidden='true')
                      | Logout
              else
                form.form-inline(method='POST', action='/login-api')
                  .form-group
                    label Username
                  input.form-control(type='text', required, name='username')
                  .form-group
                    label Password
                  input.form-control(type='password', required, name='password')
                  button#login-button.btn.btn-primary(type='submit') 
                    i.fa.fa-sign-in.fa-lg.mr-1(aria-hidden='true')
                    |Login
          ul.nav.navbar-nav.flex-nowrap.ml-auto
            li.nav-item.dropdown.d-sm-none.no-arrow
              a.dropdown-toggle.nav-link(data-toggle='dropdown' aria-expanded='false' href='#')
                i.fas.fa-search
              .dropdown-menu.dropdown-menu-right.p-3.animated--grow-in(role='menu' aria-labelledby='searchDropdown')
                form.form-inline.mr-auto.navbar-search.w-100
                  .input-group
                    input.bg-light.form-control.border-0.small(type='text' placeholder='Search for ...')
                    .input-group-append
                      button.btn.btn-primary.py-0(type='button')
                        i.fas.fa-search
            li.nav-item.dropdown.no-arrow.mx-1(role='presentation')
            li.nav-item.dropdown.no-arrow.mx-1(role='presentation')
              .shadow.dropdown-list.dropdown-menu.dropdown-menu-right(aria-labelledby='alertsDropdown')
            li.nav-item.dropdown.no-arrow(role='presentation')
      
      if(login === 'success')
        h3.text-dark.mb-0(style='margin: 10px 0px;padding: 10px 20px;') Change Password
        form#change-pass(method='POST', action='/change-pass',style='padding: 0px 20px;')
          .form-group
            label Old Password
            input.form-control(type='password', name='oldPass')
          .form-group
            label New Password
            input.form-control(type='password', name='newPass')
          .form-group
            label Confirm New Password
            input.form-control(type='password', name='confirmPass')
          button.btn.btn-primary(type='submit') Change
      if(login === 'failed')
        #login-error.alert.alert-danger.font-weight-bold(role='alert')
          i.fa.fa-exclamation-circle.fa-lg.mr-1(aria-hidden='true')
            | Login Failed
    footer.bg-white.sticky-footer
      .container.my-auto
        .text-center.my-auto.copyright
          span Copyright &copy; JUSTINLAB&nbsp;2020
  a.border.rounded.d-inline.scroll-to-top(href='#page-top')
    i.fas.fa-angle-up
script(src='/js/jquery.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.all.min.js')
script(src='/js/theme.js')
script(src='/js/script.js')